* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Prunicipal */
  --red: #E3646E;
  --purple: #BB72E9;
  --blue: #3996DB;
  --green: #82BC4F;
  --yellow: #EABD5F;
  /* Base */
  --gray-100: #0D0E11;
  --gray-200: #16181D;
  --gray-300: #292C34;
  --gray-400: #878EA1;
  --gray-500: #C0C4CE;
  --gray-600: #E2E4E9;


  /* Fonts  Family*/
  
  --font-primary: "Asap", sans-serif;
  --font-secundary: "Inconsolata", sans-serif;
  --font-tertiary: "Maven Pro", sans-serif;

  /* Font Sizes */
  --title-lg-asap: 700 56px/120% var(--font-primary)
  --title-md-asap: 700 24px/120% var(--font-primary)
  --title-sm-asap: 700 16px/120% var(--font-primary)

  --subtitles: 400 20px/120% var(--font-secundary);

  --text-md-maven: 400 16px/140% var(--font-tertiary);
  --text-sm-maven: 400 14px/140% var(--font-tertiary);
  
  /* Font Weights */
  --weight-bold: 700;
  --weight-regular: 400;

  /* Font Sizes */
  --size-lg: 56px;
  --size-md: 24px;
  --size-sm: 16px;

  /* Line Heights */
  --line-height-tight: 120%;
  --line-height-normal: 140%;
}

